footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: oblique;
    font-size: 0.7rem;
    min-height: 50px;
  /*  position: absolute;
    bottom: 0px;*/
    width: 100%;
}
@media screen and (max-width:900px) {
    footer {
      /*  bottom: -50px;*/
    }
}